*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
    h1{
        text-align: center;
        background-color: teal;
        color: white;
        font-size: 50px;
        padding-top: 80px;

    }
#contenitore{
    background-color: teal;
    padding: 150px;
    display: flex;
    flex-wrap: wrap;
}
#contenitore span{
    width: calc(10% - 10px);
    height: 80px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgb(43, 214, 226);
    font-weight: bold;
}
.colore{
    border-radius: 10px;
}